* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "JetBrains Mono";

}

:root {
    --bg-color: #f3f3f3;
    --text-color: #000715;
    --main-color: #362d6d;
    --sec-color: #968ae8;
    --border-color: black;
    --formbg-color: #1a1a2c20;
    --base-color: rgba(255, 255, 255, 0.1);
}

.darkmode {
    --bg-color: #000715;
    --text-color: white;
    --main-color: #362d6d;
    --sec-color: #9a8dec;
    --border-color: rgba(255, 255, 255, 0);
    --formbg-color: #1a1a2c;
    --base-color: background: rgba(255, 255, 255, 0.1);
}

#theme-switch {
    height: 40px;
    width: 40px;
    padding: 0;
    border: transparent;
    border-radius: 50%;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    cursor: url("cursor.png"), auto;
}

header {
    position: fixed;
    margin: auto;
    /* max-width: fit-content; */
    top: 5%;
    left: 25%;
    padding: 30px 15%;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--border-color);
}

#menu-icon {
    font-size: 4rem;
    left: 0;
    cursor: pointer;
    display: none;
}

.logo {
    position: fixed;
    left: 50px;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.02);
    background-image: linear-gradient(45deg, #11998f 10%, #d13abd, #efbd8a, #11998f);
    background-size: 200% auto;
    animation: gradientanimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.RGB {
    background-image: linear-gradient(to right, #11998f 10%, #d13abd, #efbd8a, #11998f);
    background-size: 200% auto;
    animation: gradientanimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes gradientanimation {
    to {
        background-position: 200% center;
    }
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--sec-color);
    background-image: linear-gradient(45deg, #11998f 10%, #d13abd, #efbd8a, #11998f);
    background-size: 200% auto;
    animation: gradientanimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section {
    min-height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home .logo {
    left: 10%;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home-content h3 {
    margin: 1rem 0;
    font-size: 4rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.social-icons a {
    display: inline-block;
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 3.2rem;
    padding: 1rem;
    background: #452ea8;
    /* border: 2px solid var(--sec-color); */
    border-radius: 100%;
    color: var(--sec-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: white;
    background-color: var(--icon-color);
    box-shadow: 0 0 15px var(--icon-color);
    transform: scale(1.2) translateY(-5px);
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    font-size: 1.8rem;
    color: white;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--sec-color);
    background: linear-gradient(to right, #11998f 10%, #d13abd, #efbd8a, #11998f);
    background-size: 200% auto;
    animation: gradientanimation 5s linear infinite;
    -webkit-text-fill-color: white;
    -webkit-background-clip: border-box;
}

.btn-group a:nth-of-type(2) {
    background-color: var(--main-color);
    color: white;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 20px var(--sec-color);
    background-color: var(--main-color);
    color: white;
}

.about {
    display: flex;
    justify-content: center;
    gap: 10rem;
    background: (--main-color);
}

.about-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);

}

.about-content h2 {
    font-size: 7rem;
    text-align: left;
}

.about-content p {
    text-align: left;
    font-size: 1.8rem;
}

.about-content .btn {
    margin: 3rem 0;
}

.tabs {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    position: relative;
    margin: 15px 50px -15px 0px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #9a8dec;
}

.tab-links::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #efbd8a;
    left: 0;
    position: absolute;
    bottom: -8px;
    transition: ease 0.3s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    margin: 15px 0;
    font-size: 13px;
    text-align: left;
}


.tab-contents ul li span {
    font-family: 'Geist Mono';
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(218, 103, 158);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(40deg, #11998f 10%, #d13abd, #efbd8a);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(55deg, #11998f 10%, #d13abd, #efbd8a);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    transform: scale(1.1rem);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.services {
    background-color: var(--bg-color);
    color: black;
}

.services h2 {
    color: var(--text-color);
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 3.5rem;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec-color);
    height: 400px;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--border-color);
    transition: 0.4s ease-in-out;
}

.service-box:hover {
    background: var(--main-color);
    color: transparent;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: scale(1.02);
}

.service-info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.service-info img {
    position: relative;
    opacity: 80%;
    margin: 0px 0 0 -220px;
    width: 70px;
    height: 70px;
}

.service-box:hover .service-info img {
    visibility: hidden;
}

.services-1-icons {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.services-1-icons img {
    width: 60px;
    height: 60px;
}

.service-box:hover .services-1-icons img {
    visibility: visible;
    transition: ease-in 0.1s;
}

.services-2-icons {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.services-2-icons img {
    width: 60px;
    height: 60px;
}

.service-box:hover .services-2-icons img {
    visibility: visible;
    transition: ease-in 0.1s;
}

.services-3-icons {
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 60px;
    justify-items: center;
    align-items: center;
}

.services-3-icons img {
    width: 60px;
    height: 60px;
}

.service-box:hover .services-3-icons img {
    visibility: visible;
    transition: ease-in 0.1s;
}

.service-info h4 {
    font-size: 4.1rem;
    margin: 2rem 0;
    font-weight: 800;
}

.service-info p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}

.service-info {
    font-size: 8rex;
}

.projects h1 {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* place-items: center; */
    gap: 3rem;
    row-gap: 5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 550px;
    background: var(--sec-color);
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    gap: 2rem;
    padding: 4rem 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
}

.project-card:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    transform: scale(1.02);
}

.project-card img {
    max-width: 400px;
    margin-top: -35px;
    border-radius: 1rem;
    object-fit: cover;
}

.project-card h3 {
    text-align: left;
    color: #29263b;
    font-weight: 800;
    font-size: 2.4rem;
}

.project-card p {
    color: #29263b;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
}

.project-card:hover h3,
.project-card:hover p {
    color: white;
}

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    font-size: 6rem;
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    background-color: var(--formbg-color);
    color: var(--text-color);
    border-radius: 1rem;
    border: 2px solid var(--border-color);
    margin: 1.5rem;
    resize: none;
}

#msg {
    margin-top: -40px;
    display: block;
    color: #968ae8;
    font-size: 20px;
    font-weight: 600;
    margin-left: 890px;
}

.footer {
    background-color: var(--sec-color);
    padding: 50px;
}

.footer .social-icons {
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
}

.footer ul li a {
    color: white;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    color: var(--main-color);
    background-color: 3px solid var(--main-color);
}

.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
    font-weight: 400;
}

/* -----------------For Smaller Screensize------------------ */

@media(max-width:1285px) {
    #menu-icon {
        display: block;
        position: fixed;
        left: 2rem;
        top: 20px;
    }

    #theme-switch {
        height: 30px;
        width: 30px;
        top: 25px;
        right: 15px;
    }

    header {
        position: fixed;
        max-width: 100%;
        top: 5%;
        left: 10%;
        right: 10%;
        padding: 40px 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: rgba(31, 38, 135, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 2px solid;
        border-color: var(--border-color);
        transition: height 0.5s ease;
        height: 80px;
        overflow: hidden;
    }

    header.expanded {
        height: 300px;
    }

    .navbar {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 90px;
        left: 26px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        transition: opacity 0.5s ease, visibility 0s ease 0.5s;
    }

    header.expanded .navbar {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease;
    }

    .navbar a {
        font-size: 2rem;
        margin: 1rem 0;
        color: var(--text-color);
        transition: opacity 0.5s ease;
    }

    .logo {
        position: fixed;
        top: 22px;
        left: 120px;
        font-size: 3rem;
        color: var(--text-color);
        font-weight: 800;
        cursor: pointer;
    }

    .gradient-btn {
        display: none;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem;
        gap: 5rem;
    }

    .home-content {
        align-items: center;
        text-align: center;
    }

    .home-img img {
        width: 65vw;
        margin-top: 40px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about h2 {
        font-size: 6rem;
        text-align: center;
        margin: 2rem 0;
    }

    .about img {
        width: 65vw;
        margin: 2rem 0 2rem 0;
    }

    .about p {
        padding-top: 2rem;
        text-align: center;
    }

    .tabs {
        display: flex;
        margin: 10px -30px 40px;
    }

    .tab-contents ul li {
        margin: 15px -30px;
        font-size: 13px;
        text-align: left;
    }

    .services {
        background-color: var(--bg-color);
        color: black;
    }

    .services h2 {
        font-size: 6rem;
        color: var(--text-color);
    }

    .service-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: center;
        gap: 3.5rem;
    }

    .service-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sec-color);
        height: 400px;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid var(--border-color);
        transition: 0.4s ease-in-out;
    }

    .service-info {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
    }

    .service-info img {
        position: relative;
        opacity: 80%;
        margin-right: -20px;
        width: 70px;
        height: 70px;
    }

    .projects h1 {
        text-align: center;
        font-size: 6rem;
        margin: 5rem 0;
    }

    .projects-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: center;
        gap: 3.5rem;
    }

    .project-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sec-color);
        height: 600px;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid var(--border-color);
        transition: 0.4s ease-in-out;
    }

    .project-card:hover {
        background: var(--main-color);
        color: white;
        border: 5px solid var(--main-color);
        box-shadow: 0 0 25px var(--main-color),
            0 0 50px var(--main-color);
        transform: scale(1);
    }

    .project-card:hover h3,
    .project-card:hover p {
        color: white;
    }

    .project-card img {
        max-width: 320px;
        /* margin-bottom: 20px;  */
        border-radius: 1rem;
        object-fit: cover;
    }

    .project-card h3 {
        color: var(--text-color);
        text-align: left;
        color: #29263b;
        font-weight: 800;
        font-size: 2.6rem;
    }

    .project-card p {
        color: var(--text-color);
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
    }

    .contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 5rem 0;
        text-align: center;
    }

    .contact form .input-box input,
    .contact form textarea {
        width: 80%;
        padding: 2rem;
        font-size: 1.8rem;
        background-color: var(--formbg-color);
        color: var(--text-color);
        border-radius: 1rem;
        border: 2px solid var(--border-color);
        margin: 1.5rem;
        resize: none;
    }

    #msg {
        margin-top: -40px;
        display: block;
        color: #968ae8;
        font-size: 20px;
        font-weight: 600;
        margin-left: 70px;
    }

    .footer ul {
        text-align: center;
        font-size: 1.2rem;
    }
}